IMAGE_BACKEND=localhost:5000/commissionwatch-backend:latest
IMAGE_FRONTEND=localhost:5000/commissionwatch-frontend:latest
DATABASE_URL=postgres://commwatch:CHANGE_ME@commissionwatch-db:5432/commwatch
POSTGRES_USER=commwatch
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=commwatch
